@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<h3>Your quest is over!</h3>

<h3>The ultimate place to search for GitHub Repositories!</h3>

<br />

<p>Alon Yosef</p>

<p>Web & Android Developer</p>

<p>+972-54-6858508</p>

